body, div {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.noLine {
  text-decoration: none;
  color: white;
}

footer {
  background-color: rgb(0, 0, 0);
  bottom: 0;
  position: static;
  /* margin-top: auto; */
  width: 100%;
  color: white;
  text-align: center;
  
}


.cardAlignment {
  margin-right: 20px;
}

.carousel-alignment {
  width: 80%;
  height: 30vh;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .carousel-alignment {
    height: 40vh;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .carousel-alignment {
    height: 20vh;
  }
}

/* All Mobile Sizes (devices and browser)
@media only screen and (max-width: 767px) {} */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .carousel-alignment {
    height: 50vh;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .carousel-alignment {
    height: 50vh;
  }
}